*html{ box-sizing:border-box; }
* , *:before, *:after{ box-sizing:inherit; }


#tabla2{
    position:relative;
	margin:0 auto;
	width:500px;
    height:582px;
}
#tabla1{
    position:absolute;
	margin:0 auto;
	width:500px;
    height:582px;
    top: 10px;
}
#tabela1{
    border: 1px solid black;
}
#novaKolona1{
    width: 40px;
    height: 40px;
   padding: 5px;
    border: 3px solid black;

}
#tabela2{
    border: 1px solid black;
}
#novaKolona2{
    width: 40px;
    height: 40px;
   padding: 5px;
    border: 3px solid black;

}

